.dailyforecast-main{
    margin-left: 2px;
    margin-top: 10px;
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    overflow-x: auto;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}


/* width */
.dailyforecast-main::-webkit-scrollbar {
    width: 20px;
    height: 7px;
  }
  
  /* Track */
.dailyforecast-main::-webkit-scrollbar-track{
    width: 100%;
  }
   
  /* Handle */
.dailyforecast-main::-webkit-scrollbar-thumb {
    background: rgba(176, 176, 176, 0.653);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3.5px);
    border: 1px solid rgba(10, 10, 10, 0.366);
    scroll-behavior: smooth;
    border-radius: 20px;
  }
  
  /* Handle on hover */
.dailyforecast-main::-webkit-scrollbar-thumb:hover {
    background: rgb(176, 176, 176);
  }


.dailyforecast-main h5{
    position:absolute;
    margin-top: -1px;
    font-size: 15px;
    margin-left: 15px;
}

.dailyforecast-cards{
    width: 70px;
    height: 130px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    position: relative;
    align-items: center;
    border-radius: 10px;
}

.dailyforecast-cards h3{
    font-size: 14px;
}

.dailyforecast-cards h4{
    font-size: 14px;
    margin-top: -18px;
}

.dailyforecast-cards img{
    width: 50px;
    height: 50px;
    margin-top: -25px;
}

.dailyforecast-cards p{
    font-size: 20px;
    margin-top: -3px;
}

@media only screen and (max-width: 531px){
    .dailyforecast-main{
        width: 100%;
    }

    .dailyforecast-cards{
        width: fit-content;
    }

    .dailyforecast-cards h3{
        margin-top: 20px;
    }

    .dailyforecast-cards img{
        margin-top: 1px;
        margin-top: -10px;
    }

    .dailyforecast-cards p{
        margin-top: 2px;
    }
}